@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --color-river-noon: #9CD5FF;
    --color-river-day: #7AAACE;
    --color-river-night: #355872;

    --color-volcano-noon: #c96a47;
    --color-volcano-day: #740A03;
    --color-volcano-night: #280905;

    --color-ocean-noon: #00B7B5;
    --color-ocean-day: #018790;
    --color-ocean-night: #005461;
}

@theme {
    /*CI*/
    --color-primary: #DBCEA5;
    --color-secondary-1: #ECE7D1;
    --color-secondary-2: #B99470;
    --color-secondary-3: #4B352A;
    --color-secondary-4: #8E977D;

    --font-header: "Bubblegum Sans", sans-serif;
    --font-primary: "Raleway", sans-serif;
}